.result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s ease;
  }


  .result-item:last-child {
    border-bottom: none;
  }
  
  .result-item:hover {
    background-color: #f7f9fc;
  }
  
  .result-item div {
    flex-grow: 1;
    padding-left: 10px;
  }
  
  .product-image {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 3px;
    border: 1px solid #ddd;
    transition: transform 0.3s ease, border-color 0.3s ease;
  }
  
  .product-image:hover {
    transform: scale(1.2);
    border-color: #999;
  }
  
  #results {
    margin-top: 20px;
  }
  
  #debounce-toggle {
    margin-left: 10px;
}

label {
    margin-left: 5px;
}
